.no_scroll {
  overflow: hidden;
  &:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

.index {
  .nav {
    .nav_item {
      &:nth-child(1) {
        a {
          color:$accent;
        }
      }
    }
  }
}

.catalog, .product {
  .nav {
    .nav_item {
      &:nth-child(2) {
        a {
          color:$accent;
        }
      }
    }
  }
}

.blog, .post {
  .nav {
    .nav_item {
      &:nth-child(3) {
        a {
          color:$accent;
        }
      }
    }
  }
}

.burger {
  display: none;
  height: 18px;
  width: 24px;
  position: relative;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1;
  margin-left: auto;
  margin-right: 15px;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $accent;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 8px;
    }
    &:nth-child(4) {
      top: 16px;
    }
  }
  &.active {
    span {
      &:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
    }
  }
}

.header {
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  height: 57px;
  z-index: 3;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    .wrap-logo {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      background-color: $accent;
      width: 57px;
      height: 57px;
    }
    p {
      margin-bottom: 0;
      padding: 0 20px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1;
      color: #393C5B;

    }
  }
}

.menu_wrap {
  flex-grow: 1;
}
.menu_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  &_item {
    padding: 0 15px;
    a {
      text-decoration: none;
      color: $text;
      font-size: 15px;
      @extend .animate;
      &:hover {
        color: $accent;
      }
    }
  }
  &_item.current {
    a {
      color: $accent;
    }
  }
}

.right-nav {
  display: flex;
  align-items: center;
  margin-right: 15px;
  .social-nav {
    display: flex;
    align-items: center;
    padding: 0 15px;
    li {
      margin: 0 10px;
      display: inline-block;
      a {
        width: 20px;
        height: 20px;
        display: block;
      }
      .facebook-icon {
        background: url("/assets/facebook-accent.png") no-repeat 50% 50%;
        background-size: cover;
        @extend.animate;
        &:hover {
          background: url("/assets/facebook-original.png") no-repeat 50% 50%;
          background-size: cover;
        }
      }
      .twitter-icon {
        background: url("/assets/twitter-accent.png") no-repeat 50% 50%;
        background-size: cover;
        @extend.animate;
        &:hover {
          background: url("/assets/twitter-original.png") no-repeat 50% 50%;
          background-size: cover;
        }
      }
      .youtube-icon {
        background: url("/assets/youtube-accent.png") no-repeat 50% 50%;
        background-size: cover;
        @extend.animate;
        &:hover {
          background: url("/assets/youtube-original.png") no-repeat 50% 50%;
          background-size: cover;
        }
      }
    }
  }
}

.right-nav {
  .header-btn {
    padding: 9px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $accent;
    text-decoration: none;
    border: 1px solid $accent;
    @extend .animate;
    &:hover {
      color: white;
      background-color: $accent;
    }
  }
}

@media (max-width: 1199px) {
  .header {
    height: 57px;
    width: 100%;
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .logo {
      height: 40px;
    }
  }
  .burger {
    display: block;
  }
  .menu_content {
    position: absolute;
    background: #fff;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    padding-bottom: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    max-height: calc(100vh - 60px);
    overflow: auto;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .nav_item {
    width: 100%;
    text-align: center;
    a {
      padding: 15px 0;
      display: inline-block;
    }
  }
  .nav {
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid $accent;
  }
  .right-nav {
    flex-direction: column;
    .social-nav {
      margin-bottom: 20px;
    }
  }
}


@media (max-width: 374px) {
  .header .logo p {
    font-size: 14px;
    padding: 0 14px;
  }
}
