//fit img into block
.image-container {
  display: block;
  height: 0;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  background:url('/assets/product-bg.png') no-repeat center center/cover;
  
  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 80%;
    height: 80%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    @extend .animate;
  }
}