.list {
  margin-bottom: 20px;
  li {
    line-height: 40px;
    position: relative;
    padding-left: 25px;
    font-weight: 500;
    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      top: 50%;
      margin-top: -1px;
      width: 14px;
      height: 2px;
      background-color: $accent;
    }
  }
}