///////////////stars-block///////////////
.stars-block.big {
  .star {
    width: 31px;
    height: 29px;
    background: url("/assets/star-transparent-gray.svg") no-repeat 50% 50%;
    margin-right: 10px;
  }
}

.stars-block {
  &[data-score="4"] {
    ul {
      li {
        &:nth-child(5) {
          font-weight: 400;

          &:before {
            content:'\f005';
          }
        }
      }
    }
  }

  &[data-score="4.5"] {
    ul {
      li {
        &:nth-child(5) {
          font-weight: 900;

          &:before {
            content:'\f5c0';
          }
        }
      }
    }
  }

  &[data-score="3"] {
    ul {
      li {
        &:nth-child(5), &:nth-child(4) {
          font-weight: 400;
          
          &:before {
            content:'\f005';
          }
        }
      }
    }
  }

  &[data-score="3.5"] {
    ul {
      li {
        &:nth-child(5) {
          font-weight: 400;
          
          &:before {
            content:'\f005';
          }
        }
        &:nth-child(4) {
          font-weight: 900;

          &:before {
            content:'\f5c0';
          }
        }
      }
    }
  }

  &[data-score="2"] {
    ul {
      li {
        &:nth-child(5), &:nth-child(4), &:nth-child(3) {
          font-weight: 400;
          
          &:before {
            content:'\f005';
          }
        }
      }
    }
  }

  &[data-score="2.5"] {
    ul {
      li {
        &:nth-child(5), &:nth-child(4) {
          font-weight: 400;
          
          &:before {
            content:'\f005';
          }
        }
        &:nth-child(3) {
          font-weight: 900;

          &:before {
            content:'\f5c0';
          }
        }
      }
    }
  }

  &[data-score="1"] {
    ul {
      li {
        &:nth-child(5), &:nth-child(4), &:nth-child(3), &:nth-child(2) {
          font-weight: 400;
          
          &:before {
            content:'\f005';
          }
        }
      }
    }
  }

  &[data-score="1.5"] {
    ul {
      li {
        &:nth-child(5), &:nth-child(4), &:nth-child(3) {
          font-weight: 400;
          
          &:before {
            content:'\f005';
          }
        }
        &:nth-child(2) {
          font-weight: 900;

          &:before {
            content:'\f5c0';
          }
        }
      }
    }
  }

  &[data-score="0"] {
    ul {
      li {
        &:nth-child(5), &:nth-child(4), &:nth-child(3), &:nth-child(2), &:nth-child(1) {
          font-weight: 400;
          
          &:before {
            content:'\f005';
          }
        }
      }
    }
  }

  &[data-score="0.5"] {
    ul {
      li {
        &:nth-child(5), &:nth-child(4), &:nth-child(3), &:nth-child(2) {
          font-weight: 400;
          
          &:before {
            content:'\f005';
          }
        }
        &:nth-child(1) {
          font-weight: 900;

          &:before {
            content:'\f5c0';
          }
        }
      }
    }
  }

  ul {
    display:inline-block;

    li {
      display:inline-block;
      font-family: Font Awesome\ 5 Free;
      font-weight: 900;
      font-size:24px;
      color:#939598;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;

      &:before {
        content: "\f005";
      }
    }
  }
}

.stars-block {
  margin-bottom: 20px;
  .star {
    width: 20px;
    height: 17px;
    display: inline-block;
    background: url("/assets/star-transparent.svg") no-repeat 50% 50%;
    background-size: cover;
    margin-right: 5px;
  }
  .number-reviews {
    margin-left: 15px;
    margin-bottom: 0;
    display: inline-block;
    color: $text;
    text-decoration: none;
    @extend .animate;
    &:hover {
      color: $accent;
    }
  }
}

.stars-block.one{
  .star:nth-child(1) {
    background: url("/assets/star-white.svg") no-repeat 50% 50%;
  }
}

.stars-block.big.one {
  .star:nth-child(1) {
    background: url("/assets/star-transparent-gray-2.svg") no-repeat 50% 50%;
  }
}

.stars-block.two{
  .star:nth-child(1),
  .star:nth-child(2) {
    background: url("/assets/star-white.svg") no-repeat 50% 50%;
  }
}

.stars-block.big.two{
  .star:nth-child(1),
  .star:nth-child(2) {
    background: url("/assets/star-transparent-gray-2.svg") no-repeat 50% 50%;
  }
}

.stars-block.big.three {
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3) {
    background: url("/assets/star-transparent-gray-2.svg") no-repeat 50% 50%;
  }
}

.stars-block.three{
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3) {
    background: url("/assets/star-white.svg") no-repeat 50% 50%;
  }
}

.stars-block.big.four{
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3),
  .star:nth-child(4) {
    background: url("/assets/star-transparent-gray-2.svg") no-repeat 50% 50%;
  }
}

.stars-block.four{
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3),
  .star:nth-child(4) {
    background: url("/assets/star-white.svg") no-repeat 50% 50%;
  }
}

.stars-block.five.big {
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3),
  .star:nth-child(4),
  .star:nth-child(5) {
    background: url("/assets/star-transparent-gray-2.svg") no-repeat 50% 50%;
  }
}

.stars-block.five{
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3),
  .star:nth-child(4),
  .star:nth-child(5) {
    background: url("/assets/star-white.svg") no-repeat 50% 50%;
  }
}