$playfair: 'Playfair Display', serif;
$default: 'Montserrat', sans-serif;
$accent: #88C4C5;
$bg: #F7F7F7;
$text: #1C1C1C;
$shadow: 0px 4px 41px #F4F4F4;
$border: #C4C4C4;

@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');