//widget
.widget {
  padding: 35px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: $shadow;
  @media only screen and (max-width: 992px) {
    padding: 35px 25px;
  }
  article.border-above {
    padding-top: 20px;
  }
  .widget-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .widget-video {
    margin-bottom: 20px;
  }
  .read-more-btn {
    margin-bottom: 20px;
  }
  article:last-child {
    p, .widget-image, .widget-video, .read-more-btn {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/////widget mobile///
@media only screen and (max-width: 768px) {
  .widget.no-bg-mobile {
    background: none;
  }
  .widget.widget-mobile {
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    .widget-title {
      margin-right: 40px;
      margin-left: 40px;
    }
  }
}